<!-- {% extends 'base.html' %}
{% block content %}
  <div class="row">

    <aside class="col-md-4 col-lg-3 col-sm-12" id="home-aside">
      <div class="card user-card">
        <div>
          <div class="image-wrapper">
            <img src="{{ g.user.header_image_url }}" alt="" class="card-hero">
          </div>
          <a href="/users/{{ g.user.id }}" class="card-link">
            <img src="{{ g.user.image_url }}"
                 alt="Image for {{ g.user.username }}"
                 class="card-image">
            <p>@{{ g.user.username }}</p>
          </a>
          <ul class="user-stats nav nav-pills">
            <li class="stat">
              <p class="small">Messages</p>
              <h4>
                <a href="/users/{{ g.user.id }}">{{ g.user.messages | length }}</a>
              </h4>
            </li>
            <li class="stat">
              <p class="small">Following</p>
              <h4>
                <a href="/users/{{ g.user.id }}/following">{{ g.user.following | length }}</a>
              </h4>
            </li>
            <li class="stat">
              <p class="small">Followers</p>
              <h4>
                <a href="/users/{{ g.user.id }}/followers">{{ g.user.followers | length }}</a>
              </h4>
            </li>
          </ul>
        </div>
      </div>
    </aside>

    <div class="col-lg-6 col-md-8 col-sm-12">
      <ul class="list-group" id="messages">
        {% for msg in messages %}
          {% if g.user.is_following(msg.user) %}
          <li class="list-group-item">
            <a href="/messages/{{ msg.id  }}" class="message-link">
            <a href="/users/{{ msg.user.id }}">
              <img src="{{ msg.user.image_url }}" alt="" class="timeline-image">
            </a>
            <div class="message-area">
              <a href="/users/{{ msg.user.id }}">@{{ msg.user.username }}</a>
              <span class="text-muted">{{ msg.timestamp.strftime('%d %B %Y') }}</span>
              <p>{{ msg.text }}</p>
            </div>
             {% if msg.id in likes %}
            <div>
              <form method="POST" action="/users/remove_like/{{ msg.id }}" id="messages-like">
                <button class="btn btn-sm {{'btn-primary'}}">
                  <i class="fa fa-thumbs-up"></i> 
                </button>
              </form>
            </div>
              {% else %}
              <form method="POST" action="/users/add_like/{{ msg.id }}" id="messages-like">
                <button class="btn btn-sm {{'btn-secondary'}}">
                  <i class="fa fa-thumbs-up"></i> 
                </button>
              </form>
            {% endif %} -->
            <!-- <div id="messages-like">
              {{msg.likes | length}}
              {% if g.user.id in msg.likes|map(attribute='author')|list %}
              <a href="/users/add_like/{{ msg.id }}>"><i class="fas fa-thumbs-up"></i></a>
              {% else %}
              <a href="/users/add_like/{{ msg.id }}>"><i class="far fa-thumbs-up"></i></a>
              {% endif %}
              </div>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

  </div> -->
<!-- {% endblock %} --> --> 

<!-- users/show.html -->
<!-- {% extends 'users/detail.html' %}
{% block user_details %}
  <div class="col-sm-6">
    <ul class="list-group" id="messages">

      {% for message in messages %}

        <li class="list-group-item">
          <a href="/messages/{{ message.id }}" class="message-link">

          <a href="/users/{{ user.id }}">
            <img src="{{ user.image_url }}" alt="user image" class="timeline-image">
          </a>

          <div class="message-area">
            <a href="/users/{{ user.id }}">@{{ user.username }}</a>
            <span class="text-muted">{{ message.timestamp.strftime('%d %B %Y') }}</span>
            <p>{{ message.text }}</p>
          </div>
           {% if message.author != g.user.id %} -->
          <!-- <form method="POST" action="/users/add_like/{{ message.id }}" id="messages-form">
            <button class="
              btn 
              btn-sm 
              {{'btn-primary' if message.id in likes else 'btn-secondary'}}"
            >
              <i class="fa fa-thumbs-up"></i> 
            </button>
          </form> -->
          <!-- {% endif %} -->
        <!-- </li>

      {% endfor %}

    </ul>
  </div>
{% endblock %} --> --> 

<!-- likes.html -->

<!-- {% extends 'users/detail.html' %}
{% block user_details %}
  <div class="col-sm-6">
    <ul class="list-group" id="messages">

      {% for liked_message in liked_messages %}

        <li class="list-group-item">
          <a href="/messages/{{ liked_message.id }}" class="message-link">

          <a href="/users/{{ liked_message.user.id }}">
            <img src="{{ liked_message.user.image_url }}" alt="user image" class="timeline-image">
          </a>

          <div class="message-area">
            <a href="/users/{{ liked_message.user.id }}">@{{ liked_message.user.username }}</a>
            <span class="text-muted">{{ liked_message.timestamp.strftime('%d %B %Y') }}</span>
            <p>{{ liked_message.text }}</p>
          </div>
          <div id="messages-like">
            {{liked_message.likes | length}}
            {% if user.id in liked_message.likes|map(attribute='author')|list %}
            <a href="/users/add_like/{{ liked_message.id }}>"><i class="fas fa-thumbs-up"></i></a>
            {% else %}
            <a href="/users/add_like/{{ liked_message.id }}>"><i class="far fa-thumbs-up"></i></a>
            {% endif %}
            <{% if user.id == liked_message.author %} -->
          
            <!-- <form method="POST" action="/users/remove_like/{{ liked_message.id }}" id="messages-like">
                <button class="btn btn-sm {{'btn-primary'}}">
                <i class="fa fa-thumbs-up"></i> 
                </button>
              </form> -->
            <!-- </div>
        </li>

      {% endfor %}

    </ul>
  </div>
{% endblock %} --> --> 

<!-- models.py -->

# """SQLAlchemy models for Warbler."""

# from datetime import datetime

# from flask_bcrypt import Bcrypt
# from flask_sqlalchemy import SQLAlchemy

# bcrypt = Bcrypt()
# db = SQLAlchemy()


# class Follows(db.Model):
#     """Connection of a follower <-> followed_user."""

#     __tablename__ = 'follows'

#     user_being_followed_id = db.Column(
#         db.Integer,
#         db.ForeignKey('users.id', ondelete="cascade"),
#         primary_key=True,
#     )

#     user_following_id = db.Column(
#         db.Integer,
#         db.ForeignKey('users.id', ondelete="cascade"),
#         primary_key=True,
#     )


# class Like(db.Model):
#     """Mapping user likes to warbles."""

#     __tablename__ = 'likes' 

#     id = db.Column(
#         db.Integer,
#         primary_key=True
#     )

#     author = db.Column(
#         db.Integer,
#         db.ForeignKey('users.id', ondelete='cascade')
#     )

#     message_id = db.Column(
#         db.Integer,
#         db.ForeignKey('messages.id', ondelete='cascade'), nullable=False
#         , unique=True
#     )


# class User(db.Model):
#     """User in the system."""

#     __tablename__ = 'users'

#     id = db.Column(
#         db.Integer,
#         primary_key=True,
#     )

#     email = db.Column(
#         db.Text,
#         nullable=False,
#         unique=True,
#     )

#     username = db.Column(
#         db.Text,
#         nullable=False,
#         unique=True,
#     )

#     image_url = db.Column(
#         db.Text,
#         default="/static/images/default-pic.png",
#     )

#     header_image_url = db.Column(
#         db.Text,
#         default="/static/images/warbler-hero.jpg"
#     )

#     bio = db.Column(
#         db.Text,
#     )

#     location = db.Column(
#         db.Text,
#     )

#     password = db.Column(
#         db.Text,
#         nullable=False,
#     )

#     messages = db.relationship('Message')

#     followers = db.relationship(
#         "User",
#         secondary="follows",
#         primaryjoin=(Follows.user_being_followed_id == id),
#         secondaryjoin=(Follows.user_following_id == id)
#     )

#     following = db.relationship(
#         "User",
#         secondary="follows",
#         primaryjoin=(Follows.user_following_id == id),
#         secondaryjoin=(Follows.user_being_followed_id == id)
#     )

#     # likes = db.relationship(
#     #     'Message',
#     #     secondary="likes"
#     # )

#     likes = db.relationship('Like', backref='users', passive_deletes=True)

#     def __repr__(self):
#         return f"<User #{self.id}: {self.username}, {self.email}>"

#     def is_followed_by(self, other_user):
#         """Is this user followed by `other_user`?"""

#         found_user_list = [user for user in self.followers if user == other_user]
#         return len(found_user_list) == 1

#     def is_following(self, other_user):
#         """Is this user following `other_use`?"""

#         found_user_list = [user for user in self.following if user == other_user]
#         return len(found_user_list) == 1

#     @classmethod
#     def signup(cls, username, email, password, image_url, header_image_url, bio, location):
#         """Sign up user.

#         Hashes password and adds user to system.
#         """

#         hashed_pwd = bcrypt.generate_password_hash(password).decode('UTF-8')

#         user = User(
#             username=username,
#             email=email,
#             password=hashed_pwd,
#             image_url=image_url,
#             header_image_url=header_image_url,
#             bio=bio,
#             location=location,
#         )

#         db.session.add(user)
#         return user

#     @classmethod
#     def authenticate(cls, username, password):
#         """Find user with `username` and `password`.

#         This is a class method (call it on the class, not an individual user.)
#         It searches for a user whose password hash matches this password
#         and, if it finds such a user, returns that user object.

#         If can't find matching user (or if password is wrong), returns False.
#         """

#         user = cls.query.filter_by(username=username).first()

#         if user:
#             is_auth = bcrypt.check_password_hash(user.password, password)
#             if is_auth:
#                 return user

#         return False


# class Message(db.Model):
#     """An individual message ("warble")."""

#     __tablename__ = 'messages'

#     id = db.Column(
#         db.Integer,
#         primary_key=True,
#     )

#     text = db.Column(
#         db.String(140),
#         nullable=False,
#     )

#     timestamp = db.Column(
#         db.DateTime,
#         nullable=False,
#         default=datetime.utcnow(),
#     )

#     author = db.Column(
#         db.Integer,
#         db.ForeignKey('users.id', ondelete='CASCADE'),
#         nullable=False,
#     )

#     likes = db.relationship('Like', backref='messages', passive_deletes=True)

#     user = db.relationship('User')


# def connect_db(app):
#     """Connect this database to provided Flask app.

#     You should call this in your Flask app.
#     """

#     db.app = app
#     db.init_app(app)